
@{
    ViewBag.Title = "MembersOnly";
}

<h2>Üyelere Özel Alan</h2>

<p>Şimdi size 10 adımda mutluluğun formülünü anlatacağım...</p>

<ol>
    <li>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</li>
    <li>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</li>
    <li>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</li>
    <li>Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</li>
    <li>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</li>
    <li>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio.</li>
    <li>Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.</li>
    <li>Cras ut metus a risus iaculis scelerisque eu ac ante.</li>
    <li>Fusce non varius purus aenean nec magna felis fusce vestibulum.</li>
    <li>Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis.</li>
</ol>

